section{
    min-height: 75vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 1.5em;
}

.product-box{
    width: max(25%. 180px);
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
    margin: 0.5em;
}

.product-box > .img-box > img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.product-box > .desc-box {
    display: flex;
    flex-direction: column;
    padding: 0.5em;
    text-align: center;
    justify-content: space-around;
}

.product-box > .desc-box > div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.product-box > .desc-box > div > span {
    width: 50%;
    color: rgb(204, 170, 19);
    padding: 0.3em;
}

#HomeImg{
    background-image: url(./images/hero.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#HomeImg > h1{
    color: #fff;
    padding: 0.3em;
    background-color: black;
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    margin-top: 0.5em;
}

.AddCartBtn{
    background-color: rgb(0, 0, 0);
    color: #fff;
    padding: 0.3em;
    font-size: 1.2em;
    font-weight: bold;
    cursor: pointer;
}


#cart-box{
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    width: mac(15%, 150px);
    transform: translateX(100%);
    background-color: rgba(255, 255, 255, 1);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);   
    z-index: 1;
    font-size: 1em;
    color: rgb(0, 0, 0);
}

#cart-box > span{
    position: fixed;
    color: rgb(0, 0, 0);
    font-size: 1.2em;
    font-weight: bold;
    transform: scale(0.8);
    top: 0;
    right: 0;
    padding: 0.5em;
    cursor: pointer;
}

.cart-item{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 15px;
    font-size: 0.8em !important;
    border: 1px solid rgb(0, 0, 0);
}

.cart-item h3{
    color: rgb(150, 160, 218);
    font-size: 0.9em !important;
}

.cart-item .img-box__cart img{
    width: 50%;
}

.cart-item div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
